.body {
  font: 4vmin Verdana;
  color: #202020;
  display: inline-grid;
  justify-items: center;
  grid-row-gap: 3vmin;
  background: url(../pictures/spikes.webp) fixed
}

h3 {
  transition: .5s
}

.main-container,.my-avatar {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
  transition: .3s
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #fff;
  width: 67%;
  border-radius: 40px;
  overflow: hidden
}

.main-container:hover,.my-avatar:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,.2)
}

.my-avatar {
  max-height: 100%;
  max-width: 100%;
  border-radius: 50%;
  border: 1vmin solid #f1f1f1
}

#skill-cards-container {
  width: 100%;
  display: inline-grid;
  align-items: center;
  justify-content: center;
  grid-gap: 1.5vmin;
  grid-template-columns: repeat(auto-fill,25vmax)
}

.skill-card {
  background-color: transparent;
  width: 25vmax;
  height: 25vmax;
  border: 0 solid #f1f1f1;
  perspective: 1000px
}

.skill-card-inner {
  position: relative;
  transition: transform .8s;
  transform-style: preserve-3d
}

.skill-card:hover .skill-card-inner {
  transform: rotateY(180deg)
}

.skill-card-inner,.skill-card-picture {
  height: 100%;
  width: 100%
}

.skill-card-back,.skill-card-front {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden
}

.skill-card-front {
  background-color: #bbb;
  color: #000
}

.skill-card-back {
  transform: rotateY(180deg)
}

.skill-card-python {
  background-color: #ffd43b;
  color: #202020
}

.skill-card-lego {
  background-color: #fff;
  color: #202020
}

.skill-card-web {
  background-color: #7c6eab;
  color: #fff
}

.skill-card-java {
  background-color: #5382a1;
  color: #fff
}

.skill-card-minecraft {
  background-color: #77ab3d;
  color: #fff
}

.skill-card-computer {
  background-color: #1a91a1;
  color: #fff
}

.job-and-education-card {
  position: relative;
  color: #fff;
  max-width: 60vmax;
  height: 33vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center
}

.job-and-education-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 33vh;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0,0,0,.5)
}

.job-and-education-card:hover .job-and-education-overlay {
  opacity: 1
}

.job-and-education-card:hover h3 {
  opacity: 0
}

#kpi-education-image {
  background-image: url(../pictures/NTUU_KPI.jpg)
}

#fict-job-image {
  background-image: url(../pictures/FICT.png)
}

#fja-job-image {
  background-image: url(../pictures/FJA.jpg);
  background-position: top
}

.slider-container {
  position: relative
}

.mySlides {
  display: none
}

.slide-image {
  max-width: 80vw;
  max-height: 80vh
}

.cursor,.next,.prev {
  cursor: pointer
}

.next,.prev {
  position: absolute;
  top: 40%;
  width: auto;
  padding: 2vh;
  margin-top: middle;
  color: #fff;
  font-weight: 700;
  font-size: 3vh;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px
}

.next:hover,.prev:hover {
  background-color: rgba(0,0,0,.8)
}

.slide-number-text {
  background-color: rgba(0,0,0,.3);
  border-radius: 3px;
  color: #f2f2f2;
  font-size: 2.5vh;
  padding: 8px 12px;
  position: absolute;
  top: 0
}

.contact-icon {
  width: 20vmin;
  height: 20vmin
}

#contact-container {
  display: inline-grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fill,20vmax)
}